{% extends "page.html" %}

{% block head %}
    <link href="static/css/carousel.css" rel="stylesheet">
{% endblock %}

{% block main %}


  <div class="container">
    <div class="row">
      <div id="myCarousel" class="carousel slide mb-4 w-75" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          {% for image in images -%}
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ loop.index }}" aria-label="Slide {{ loop.index + 1 }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ preview }}" width="100%" height="100%"/>
          </div>
          {% for image in images -%}
          <div class="carousel-item">
            <img src="{{ image }}" width="100%" height="100%"/>
          </div>
          {% endfor -%}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div id="nextToCarousel" class="vstack gap-3 w-25" >
        <row>
          <a href="download/{{ dataset }}"><button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" 
            title="Download" class="btn btn-secondary bi bi-cloud-download"></button></a>
          <a href="license/{{ dataset }}"><button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" 
            title="License" class="btn btn-secondary bi bi-cc-circle"></button></a>
          <a href="croissant/{{ dataset }}"><button type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Croissant" class="btn btn-secondary bi bi-moon"></button></a>
        </row>
        <div>Contact: <br>{{ contact_clickable|safe }}</div>
        <div>Created: {{ created }}</div>
        <row>Keywords:
          {% for word in AIFARMS_keywords %}
              <br>{{ word }}
          {% endfor -%}
        </row>
        <div>Download Size: {{ filesize }}</div>
      </div>
    </div>
  </div>
    <div>{{ description|safe }}</div>
    <div>{{ citation }}</div>
    <div>{{ funding }}</div>

{% endblock %}